/*
h1 {
  font-size: 72px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: tomato;
  background-color: #99f0ee;
}
h2 {
  border-width: 2px;
  border-style: dotted;
  border-color: black;
  color: rgb(90, 240, 71);
  background-color: yellow;
}
*/
